  <%- include('partials/header'); -%>
<header>
  
  <% if(user){ %>
  <div class="smoothie">
    <img src="/images/ninja.png" alt="">
  </div>
  <div class="headings">
    <h2>Great,<%= user.displayName %></h2>
    <h3>you got some ninja moves..</h3>
  </div>
  <% }else{ %>
    <div class="smoothie">
      <img src="/images/laptopNinja.png" alt="">
    </div>
    <div class="headings">
      <h2>Hi Ninja,<%= user %> </h2>
      <h3>please log in to continue...</h3>
    </div>
    <% } %>  
</header>
  <%- include('partials/footer'); -%>